In [1]:
thisset  = set(("apple","banana","cat"))
print(thisset)

{'cat', 'apple', 'banana'}

In [2]:
for i in thisset:
    print(i)

cat
apple
banana

In [3]:
print("banana" in thisset)

True

In [4]:
#to add one item in this set

In [5]:
thisset.add("dog")
print(thisset)

{'cat', 'apple', 'banana', 'dog'}

In [13]:
list1 = [12,12,3,13,12,4,34]
print(list1.)

[12, 12, 3, 13, 12, 4, 34]

# dictionary

In [15]:
#orderd changeable do not allow duplicates
set1 = {"chandu":22,"karthik":24,"sangeeth":25,"prudhvi":26,"prudhvi":26}
print(set1)

{'chandu': 22, 'karthik': 24, 'sangeeth': 25, 'prudhvi': 26}

In [18]:
set1["chandu"]

22

In [19]:
len(set1)

4

In [23]:
for i in set1:
    values = set1[i]
    print(i,values)

chandu 22
karthik 24
sangeeth 25
prudhvi 26

In [21]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change
print(car)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [22]:
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])

In [24]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(len(myfamily))

3

In [26]:
D1 = { }
D1['a'] = 1
D1['b'] = 2
for key in D1:
    print(key, D1[key])
print(D1)

a 1
b 2
{'a': 1, 'b': 2}

In [27]:
D2 = { }
D2['b'] = 2
D2['a'] = 1
for key in D2:
    print(key, D2[key])
print(D2)

b 2
a 1
{'b': 2, 'a': 1}

In [28]:
D1==D2

True

In [45]:
pos = 0
alpha = "abcdefghijklmnopqrstuvwxyz"
_dict = dict()

for i in alpha:
    _dict[i] =pos
    pos=pos+1
print(_dict)

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25}

In [48]:
pos = 0
alpha = "abcdefghijklmnopqrstuvwxyz"
_dict = dict()


alpha.index("a")+1

1

In [ ]:
def createdict(d):
         alpha = "abcdefghijklnopqrstuvwxyz"

In [51]:
word_string = "asascdsc"
word_list = ["ad,d","adad","vefv"]
word_tuple = ("ad,d","adad","vefv")
word_tuple[0]=100

TypeError: 'tuple' object does not support item assignment

In [56]:
def first_three(L):

    L1 = []
    while (len(L)>0):
        mini = L[0]
        for i in range(len(L)):
            if  mini>L[i]:
                mini = L[i]
            L1.append(mini)
            L.remove(mini)
    return L1
L = [1121,23,42,32,4,3,4,5,32,3]
first_three(L)

ValueError: list.remove(x): x not in list